h1
{
    color: blue;  /* les titres seront en bleu */
}

em
{
    color: blue;  /* les éléments en italique seront en bleu */
}

.introduction
{
    color: blue;  /* la balise introduction sera en bleu */
}

h1
{
    text-decoration: blink;
}
