.bordure{
    border: 3px solid rgb(30,30,65);
    border-radius: 10px;

}

.img-style{
	display: block;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgb(0,0,0,0.5);

    width: 30%
}
