p
{
    font-size: 0.8em;
}
h1
{
    font-size: 1.3em;
}

p
{
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

h2
{
    font-style: italic;
}

h1
{
    font-weight: bold;
}

